//color

$main-black: #050404;
$main-gray: #949494;
$main-blue: #2574a9;
$main-white: #fff;
$devider-gray: #e5e5e5;

//Font-family

$main-text: Lato, sans-serif;

//border

$main-border: 1px dashed #ccc;