@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('/assets/fonts/MyriadProRegular/MyriadPro-Regular.eot');
	src: url('/assets/fonts/MyriadProRegular/MyriadPro-Regular.woff2') format('woff2'),
	url('/assets/fonts/MyriadProRegular/MyriadPro-Regular.woff') format('woff'),
	url('/assets/fonts/MyriadProRegular/MyriadPro-Regular.ttf') format('truetype'),
	url('/assets/fonts/MyriadProRegular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
	url('/assets/fonts/MyriadProRegular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
